
/* style.css */

window {
    background-color: rgba(28, 28, 28, 0.7);
    color: #ff00ff;
    border: 5px solid #ff00ff;

border-radius: 15px;
}


/* Volume Widget Styles */
#volume-indicator {
    background-color: rgba(28, 28, 28, 0.7); /* Black background */
    color: #ff00ff;              /* Magenta foreground */
    padding: 10px;
}

#volume-indicator:hover {
    background-color: #333333;  /* Slightly darker background on hover */
}


button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(28, 28, 28, 0);
    color: #ff00ff;
   
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
    
}

button:active {
    background-color: rgba(28, 28, 28, 0);
    color: #ff00ff;
       padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

button:hover {
    background-color: rgba(28, 28, 28, 0);
    color: #ff00ff;
      padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

label {
    font-weight: bold;
}
